*{
    font-family: Arial;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden; /*Todo conteúdo que sobrar na horizontal vai ser ignorado*/
}
header{
    height: 100px;
    background-color: #000000;
}
.header{
    max-width:1140px;
    height:100px;
    margin:auto;
    display:flex;
    align-items:center;
    
}
.logo{
    width: 100px;
    
}
.logo_img{
    width: 80px;
    height: 80px;
    background-color: #b28756;
    border-radius: 40px;
}
.menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.menu ul, .menu li{
    list-style: none;
}
.menu ul{
    display: flex;
}
.menu li a{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    align-items: center;
    border-bottom:5px solid #000000;
}
.menu li a:hover, .menu .active a{
    border-bottom: 5px solid #b28756;
    color: #ccc;
}

.banner{
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}
.banner .sliders{
    width: 1000vw; /*suporta 10 slides*/
    height: 100%;

}
.banner .slide{
    width: 100vw;
    height: 100%;
    background-color: rgba(0,0,0, 0.8);
    display: inline-block;
}

.banner .slide_area{
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;

}
.banner h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}
.banner h1 span{
    color: #b28756;
}
.banner h2{
    text-transform: uppercase;
    margin-top: 20px;
}
.button{
    display:inline-block;
    background-color:#B28756;
    color:#FFF;
    text-transform: uppercase;
    font-size:12px;
    font-weight:600;
    text-decoration: none;
    padding:10px 30px;
    margin-top:30px;
    border-radius:20px;
    
}

.banner .sliders_pointers{
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.banner .pointer.active{
    background-color: #b28756;
}

/* Animação para dar um charme na transição dos slides */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}
  
.default{
    padding-top: 50px;
    padding-bottom: 50px;
}


.default .section_title,
.default .section_desc {
    text-align:center;
    text-transform: uppercase;
    font-weight: 600;
}

.default .section_body{
    max-width:1140px;
    margin:auto;
}
.default .section_title{
    font-size:20px;
}

.default .section_desc{
    font-size:12px;
    color:#CCC;
    margin-top:10px;
    margin-bottom:20px;
}
.default.light{
    background-color: #f7f7f7;
}
.default.light .section_title, .default.ligth .section_body{
    color: #000000;
}

.default.dark{
    background-color: #000000;
}
.default.dark .section_title, .default.dark .section_body{
    color: white;
}




/*CSS de áreas específicas*/
.section_about_us{
    display: flex;
}
.section_about_us_left{
    flex: 1;
}
.section_about_us_left p{
    font-size: 14px;
    line-height: 25px;
}
.section_about_us_right{
    width: 520px;
    text-align: center;
}
.section_about_us_right img{
    width: 480px;
    box-shadow: 0px 2px 10px #333;
}

.section_services{
    display: flex;

}
.section_services img{
    width: 59px;
    height: 58px;
}
.section_service{
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px;
}
.section_service:first-child{
    border-left: 1px solid #333;
}
.section_service h4{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}
.section_service p{
    color: #999;
    margin-top: 10px;
    font-size: 13px;
}

.section_projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_projects_filters{
    border: 1px solid #CCC;
    background-color: #EEE;
    border-radius: 30px;
    padding: 0px 20px;

}

.section_projects_filters ul, .section_projects_filters li{
    list-style: none;
}
.section_projects_filters li{
    display: inline-block;
    padding: 15px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #CCC;
    color: #555;
    border-bottom: 3px solid #EEE;
    cursor: pointer;
}

.section_projects_filters li:hover, .section_projects_filters li.active{
    border-bottom: 3px solid #b28756;
}

.section_projects_filters li:first-child{
    border-left: 0;
}

.section_projects_fotos{
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section_projects_foto{
    width: 280px;
}

.section_projects_fotoarea{
    margin: 10px;
    width: 260px;
    height: 160px;
}
.section_projects_fotoarea img{
    width: inherit; /*Herda do item anterior*/
    height: inherit;
}
.section_projects_fotoinfo{
    position: absolute;
    background-color: rgba(0,0,0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    
}
.section_projects_fotoinfo h5{
    font-size: 18px;
    font-weight: 600;
}
.section_projects_fotoarea:hover .section_projects_fotoinfo{
    display: flex;
}

.bg_team{
    background-image: url('../images/bg_team.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;
}

.section_team{
    overflow:hidden;
    max-width:880px;
    margin:auto;
}
.section_team_area{
    background-color:rgba(0, 0, 0, 0.8);
    padding-top:50px;
    padding-bottom:50px;
}

.section_team .sliders{
    width: 1000vw; /*suporta 10 slides*/
    height: 100%;

}
.section_team .slide{
    width: 280px;
    height: 100%;
    min-height: 300px;
    background-color:white;
    display: inline-block;
    margin-right: 20px;
}

.section_team .slide_area{
    display:flex;
    flex-direction:column;
    height:100%;
    justify-content: center;
    align-items:center;
    color:#000;
    padding:30px;

}
.section_team_area .sliders_pointers{
    margin-top:30px;
    height:20px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.section_team_area .pointer{
    width:15px;
    height:15px;
    border:2px solid #B28756;
    border-radius:8px;
    margin-left:5px;
    margin-right:5px;
    cursor:pointer;
}
.section_team_area .pointer.active{
    background-color: #b28756;
}

.section_team_avatar{
    width: 150px;
    height: auto;
}
.section_team_name{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}
.section_team_role{
    color: #999;
    font-size:14px;
    margin-top: 5px;
}
.section_team_social{
    display: flex;
    margin-top: 20px;

}

.section_team_social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    border-radius: 13px;
    background-color: #CCC;
    margin-right: 10px;
}
.section_team_social a:hover{
    background-color: #b28756;
}

.section_clients{
    overflow: hidden;
    padding-bottom: 50px;
}
.section_clients .sliders{
    width: 1000vw;
    height: 100%;
}
.section_clients .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
}

.section_clients .slide_area{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.section_clients_name{
    font-weight: bold;
    font-size: 20px;
}

.clients .section_body{
    max-width: initial;
}

.clients .slide_area img{
    width: 140px;
}
.clients .section_clients_name{
    margin-top: 20px;
}
.clients .section_clients_role{
    margin-top: 5px;
    font-size: 13px;
    font-weight: 400;
}
.clients .section_client_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.clients .section_client_text img{
    width: 17px;
    height: auto;
    margin-top: 20px;
}

.section_client_text p{
    margin-top: 10px;
    font-size: 13px;
    max-width: 700px;
    color: #555;
    text-align: center;
    line-height: 25px;
    margin-left: 30px;
    margin-right: 30px;
}

.clients .sliders_pointers{
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clients .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.clients .pointer.active{
    background-color: #b28756;
}

.companies{
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}
.companies .section_companies{
    display: flex;
    justify-content: space-around;
}
.section_companies img{
    width: 80px;
    height: auto;
}
.section_price{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.price_table .price_item{
    width: 250px;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.price_item--title{
    font-weight: 400;
    margin-top: 20px;
    font-size: 13px;
    text-transform: uppercase;
}
.price_item--value{
    font-weight: bold;
    margin-top: 5px;
    font-size: 35px;
}

.price_item--frequency, .price_item--desc{
    color: #555;
    text-align: center;
}
.price_item--desc{
    margin-top: 10px;
}

.price_item .button{
    background-color: rgb(34, 33, 33);
    margin-bottom: 30px;
    margin-top: 20px;
}
.price_item .button_premium{
    background-color: #b28756;
}
.default.light.premium{
    background-color: white;
    border-top: 1px solid #DDD;
}

.premium .section_premium{
    overflow: hidden;
}
.premium .section_body{
    max-width: initial;
    margin: auto;
}
.section_premium .sliders {
    width: 1000vw;
    height: 100%;
}
.section_premium .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
}
.premium .slide_area{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #CCC;
    padding-bottom: 40px;
    
}

.premium .slide_area_left{
    margin-right: 50px;
    flex: 1;
    text-align: right;
}
.premium .slide_area_left img{
    width: 300px;
    height: auto;
}

.premium .slide_area_right{
    flex: 1;
}
.slide_area_right--item{
    display: flex;
    max-width: 500px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.slide_area_right--item img{
    width: 30px;
    height: 28px;
    margin-right: 20px;
}

.slide_area_right--item h4{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
}
.slide_area_right--item{
    color: #555;
    line-height: 23px;
}

.premium .sliders_pointers{
    width: 100vw;
    height: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button_wrap{
    width: 100vw;
    text-align: center;
}

.premium .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.premium .pointer.active{
    background-color: #b28756;
}

.facts .section_body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_facts_item{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section_facts_item h4{
    font-size: 50px;
    color: #b28756;
}
.section_facts_item .sublinhado{
    width: 22px;
    height: 3px;
    background-color: #555;
}
.section_facts_item .title{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    max-width: 200px;
    height: 42px;
    margin-top: 20px;
}

.section_facts_item span{
    color: #555;
    text-align: center;
    max-width: 200px;
    height: 30px;
    margin-top: 10px;
}

.tell_about{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.tell_about .section_body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tell_about_share{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    font-size: 16px;
    font-weight: 600;
    margin-right: 30px;
}
.tell_about_share img{
    margin-right: 10px;
}

.tell_about_item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    color: #999;
    font-size: 12px;
}
.tell_about_item a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 10px;
}

.twitter a{
    background-color: #34c5f0;
}
.linkedin a{
    background-color: #127cb4;
}
.facebook a{
    background-color: #336297; 
}
.googleplus a{
    background-color: #e74237;
}
.pinterest a{
    background-color: #b71c29;
}
.section_contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.section_contact form{
    width: 500px;
}
.section_contact .row{
    display: flex;
    
}
.row_item{
    margin-bottom: 20px;    
    flex: 1;
    display: flex;
    flex-direction: column;
}
.row_item:nth-child(even){
    margin-left: 35px;
}
.row_item input{
    color:#555;
}
.row_item input[type=text], .row_item input[type=email]{
    border: 0;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    outline: 0;
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 10px;
}

.row_item textarea{
    width: 500px;
    height: 100px;
    background-color: transparent;
    outline: 0;
    font-weight: 400;
    padding-bottom: 10px;
    text-transform: uppercase;
    padding: 5px;
    color: #555;
}
.submit{
    width: 100%;
    display: flex;
    justify-content: center;
}
.submit input[type=submit]{
    display:inline-block;
    background-color:#B28756;
    color:#FFF;
    text-transform: uppercase;
    font-size:12px;
    font-weight:600;
    text-decoration: none;
    padding:10px 30px;
    margin-top:30px;
    border-radius:20px;
    border-width: 0;
    margin-top: 0;
}
